<ion-header>
  <ion-toolbar>

    <ion-title text-center class="titulo"><h1>AVISO LEGAL Y CONDICIONES DE USO</h1></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
<div text-center>
    <h4>  TRATAMIENTO DE DATOS DE USUARIOS</h4>
  </div>
    <p class="parrafo" text-center>
      Clausula informativa:
      
      Responsable: Identidad: Carmen Santos - NIF: 50.818.449-H Dir. postal: C/ Ponzano, 18 Teléfono: 648723483   Correo electrónico: mascotaactual@gmail.com 
      “En nombre de la empresa tratamos la información que nos facilita con el fin de prestarles el servicio solicitado. Los datos proporcionados se conservarán mientras se mantenga la relación comercial o durante los años necesarios para cumplir con las obligaciones legales. Los datos no se cederán a terceros salvo en los casos en que exista una obligación legal. Usted tiene derecho a obtener confirmación sobre si en Mascota Actual estamos tratando sus datos personales por tanto tiene derecho a acceder a sus datos personales, rectificar los datos inexactos o solicitar su supresión cuando los datos ya no sean necesarios.
      Asimismo, solicitamos su autorización para enviarle Newsletters y ofrecerle productos, servicios relacionados con mascotas, así como informarle de eventos o campañas descuentos, ofertas o cupones de empresas relacionadas con el sector mascotas y fidelizarle como usuario.”
       SI
       NO
      

    </p>
    <div text-center>
      <ion-button routerLink="/register">Aceptar</ion-button>
    </div>
  </div>
</ion-content>

